.frame-red,
.frame-red * {
  box-sizing: border-box;
}
.frame-red {
  background: #2d0000;
  height: 100%;
  position: relative;
  overflow: hidden;
}
.red-sky {
  position: absolute;
  inset: 0;
}
.sky {
  width: 2731px;
  height: 2731px;
  position: static;
}
.ellipse-6 {
  background: #2d0000;
  border-radius: 50%;
  width: 2731px;
  height: 2731px;
  position: absolute;
  right: -1215px;
  top: -1216px;
}
.ellipse-4 {
  background: #340000;
  border-radius: 50%;
  width: 2058.33px;
  height: 2058.33px;
  position: absolute;
  right: -876.61px;
  top: -882.49px;
}
.ellipse-5 {
  background: #3c0000;
  border-radius: 50%;
  width: 1384.49px;
  height: 1384.49px;
  position: absolute;
  right: -542.13px;
  top: -543.13px;
}
.ellipse-3 {
  background: #450000;
  border-radius: 50%;
  width: 796.9px;
  height: 796.9px;
  position: absolute;
  right: -248.34px;
  top: -249.34px;
}
.ellipse-2 {
  background: #550000;
  border-radius: 50%;
  width: 439.53px;
  height: 439.53px;
  position: absolute;
  right: -69.27px;
  top: -69.49px;
}
.red-moon {
  border-radius: 216.39px;
  width: 334.88px;
  height: 334.88px;
  position: absolute;
  right: -19.65px;
  top: -17.55px;
  object-fit: cover;
}
.rocks {
  opacity: 0.9;
  height: auto;
  position: absolute;
  right: 46.41px;
  bottom: 45.07px;
  transform: translate(0px, 0px);
  overflow: visible;
  width: 300px;
  height: 175px;
}
.demons {
  opacity: 0.9;
  position: absolute;
  inset: 0;
}
.demons2 {
  width: 150.51px;
  height: 150.51px;
  position: absolute;
  left: 305.51px;
  bottom: 75.49px;
  transform-origin: 0 0;
  mix-blend-mode: multiply;
  object-fit: cover;
}
.demons3 {
  width: 150.51px;
  height: 150.51px;
  position: absolute;
  left: 430px;
  bottom: 75.49px;
  transform-origin: 0 0;
  mix-blend-mode: multiply;
  object-fit: cover;
}
.ground {
  position: absolute;
  inset: 0;
}
.rectangle-1 {
  background: #150000;
  border-radius: 20px;
  width: 100%;
  height: 192px;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: -96px;
}
.stars {
  height: auto;
  position: absolute;
  right: 241px;
  top: 50px;
  overflow: visible;
  width: 1000px;
  height: 390.30px;
}
.three-men-with-guns {
  position: absolute;
  inset: 0;
}
.man-with-pistol {
  width: 62px;
  height: 87px;
  position: absolute;
  left: 75px;
  bottom: 88px;
  transform-origin: 0 0;
  mix-blend-mode: soft-light;
  object-fit: cover;
}
.man-with-shortgun {
  width: 86px;
  height: 111px;
  position: absolute;
  left: 45px;
  bottom: 81px;
  mix-blend-mode: color-burn;
  object-fit: cover;
}
.man-with-ak {
  width: 49px;
  height: 100px;
  position: absolute;
  left: 100px;
  bottom: 86px;
  transform-origin: 0 0;
  mix-blend-mode: color-burn;
  object-fit: cover;
}
.liminal-space-door {
  cursor: pointer;
  height: auto;
  position: absolute;
  right: 10px;
  top: 420px;
  overflow: visible;
  width: 42;
  height: 72;
}